asn1crypto==0.24.0
astroid==1.6.6
backports.functools-lru-cache==1.5
certifi==2022.12.7
chardet==3.0.4
Click==7.0
colorama==0.4.1
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.4.2
passlib==1.7.1
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.26
rarfile==3.0
requests==2.22.0
requirements-detector==0.6
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.11.0
spark-parser==1.8.9
tqdm==4.35.0
uncompyle6==3.4.0
urllib3==1.26.5
wrapt==1.11.2
xdis==4.0.3

